#feedback .container {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #B40404;
    box-shadow: inset 0 0 10px #000000;
}
.contact-label {
    color: #B40404;
}
.btn-submit {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    margin: 6px;
    border-radius: 50px;
    transition: 0.5s;
    color: #B40404;
    border: 2px solid #B40404;
    text-decoration: none;
    
}
.btn-submit:hover {
    background-color: #B40404;
    border: 2px solid #B40404;
    color: #ffffff;
}