#register .container {
    margin-bottom: 30px;
	border: 2px solid #B40404;
    box-shadow: inset 0 0 10px #000000;
}
.Form.Row {
	margin-top: 100px;
}
.btn-register {
	text-align: center;
}
.btn-submit-register  {
	font-weight: 500;
	align-items: center;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    margin: 6px auto;
    border-radius: 50px;
    color: #fff !important;
    background-color: #B40404 !important;
    border: 2px solid #B40404 !important;
    text-decoration: none;
}
.btn-submit-register:hover {
	color: #fff !important;
	background-color: #B40404 !important;
	opacity: 0.9;
    border: 2px solid #B40404 !important;
}
.register-head {
	color: #B40404;
	text-decoration: underline;
}